.item-basket {
    background-color: rgb(248, 163, 157);
}
.inside {
    background-color: rgb(247, 162, 162);
    height: 20px;
}
.user-name {
    background-color: rgb(241, 224, 176);
    height: 20px;
}